@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans';
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#1D539E, #1D539E);
    background-size: auto 50vh;
    background-repeat: no-repeat;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.text>.titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
}

.text>p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 295px;
    padding: 33px;
    display: flex;
    height: 420px;
    margin-top: 65px;
    border-radius: 8px;
    flex-direction: column;
    background-color: white;
    transition: transform .3s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.precoBox {
    display: flex;
    align-items: baseline;
    padding-top: 34px;
}

.preco1,
.preco2 {
    font-weight: 700;
    color: #1E2338;
}

.preco1 {
    font-size: 36px;
}

.preco2 {
    font-size: 18px;
}

.infoPreco {
    padding-left: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #828799;
}

.type {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1E2338;
}

.desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #828799;
    padding: 10px 0px 20px 0px;
}

hr {
    background-color: #EEEEEE;
    margin: 10px 0px;
    width: 100%;
    height: 1px;
}

.topics>p {
    display: flex;
    align-content: center;
    color: #828799;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0px;
}

.topics>p>img {
    /* justify-content: center; */
    align-items: baseline;
    padding-right: 15px;
}

.btn {
    cursor: pointer;
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    background-color: transparent;
    border: 1px solid #1D539E;
    border-radius: 10px;

    text-transform: uppercase;
    font-style: normal;
    color: #1D539E;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.container .card:nth-child(2) .btn {
    background-color: #1D539E;
    color: #FFFFFF;
}

.container .card:nth-child(2) {
    background-image: linear-gradient(#FFCC29, #FFCC29);
    background-size: auto 85px;
    background-repeat: no-repeat;
}

.container .card:nth-child(2) .type {
    font-weight: 600;
    font-size: 20px;
    color: #1D539E;
}

.title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 32px;
    text-align: center;
    background-color: #1D539E;
    border-radius: 40px;
    color: #EEEEEE;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 1150px) {
    body {
        height: 100%;
        padding: 50px 0px;
    }

    .text > .titulo {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 65px;
    }

    .text > p {
        padding: 0px 15px;
    }
}